@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-shimmer {
    animation: shimmer 2s infinite linear;
    background-size: 200% 100%;
  }
}

@keyframes shimmer {
  from {
    background-position: -200% 0;
  }
  to {
    background-position: 200% 0;
  }
}
